.header__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .logo__container {
    flex-grow: 1;
  }

  .header__logo {
    width: 100px;

    a {
      display: flex;
    }

    img {
      width: 100%;
    }
  }
}

.header__upper.search-active {
  .header__logo {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .search__container {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
    position: relative;
  }
}

.search__container {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.search__input {
  background-color: $gray-100;
  padding: 0.90625rem 5rem 0.90625rem 1rem;
  border-radius: 1.25rem;
  width: 100%;
}

.search__icon {
  position: absolute;
  right: 0;
  padding-right: 0.5rem;
  font-size: 1.5rem;
  color: $gray-200;
  cursor: pointer;
}

@media (min-width: 650px) {
  .header__upper {
    padding: 1rem 2rem;
  }

  .logo__container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-grow: 0.5;
  }

  .search__container {
    display: flex;
    align-items: center;
    visibility: visible;
    opacity: 1;
    position: relative;
    flex-grow: 0.6;
  }
}

@media (min-width: 1200px) {
  .search__input {
    font-size: 1rem;
  }
}
