<main>
  <section class="product">
    <div class="product__image">
      <img src="../../../../assets/images/products/starwars-yoda.jpg" alt="">
    </div>
    <div class="product__content">
      <h3 class="product__title">Boneco XYZ</h3>
      <p class="product__price">R$ 60,00</p>
      <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur natus
        unde rerum hic dolorum eos non nisi accusamus deserunt aspernatur iure mollitia neque atque pariatur veniam,
        dicta illo distinctio!</p>
    </div>
  </section>
  <section class="products container">
    <h2 class="products__title">Produtos similares</h2>
    <div class="products__content">
      <ul class="products__cards">
        <li class="products__card">
          <img src="../../../../assets/images/products/diversos-sonic.svg" alt="Boneco do Sonic" class="card__image">
          <h3 class="card__title">Boneco XYZ</h3>
          <p class="card__price">R$ 60,00</p>
          <a href="" class="card__link">Ver produto</a>
        </li>
        <li class="products__card">
          <img src="../../../../assets/images/products/diversos-camiseta.svg" alt="Camiseta Geek" class="card__image">
          <h3 class="card__title">Camiseta XYZ</h3>
          <p class="card__price">R$ 60,00</p>
          <a href="" class="card__link">Ver produto</a>
        </li>
        <li class="products__card">
          <img src="../../../../assets/images/products/diversos-sonic.svg" alt="Boneco do Sonic" class="card__image">
          <h3 class="card__title">Boneco XYZ</h3>
          <p class="card__price">R$ 60,00</p>
          <a href="" class="card__link">Ver produto</a>
        </li>
        <li class="products__card">
          <img src="../../../../assets/images/products/diversos-camiseta.svg" alt="Camiseta Geek" class="card__image">
          <h3 class="card__title">Camiseta XYZ</h3>
          <p class="card__price">R$ 60,00</p>
          <a href="" class="card__link">Ver produto</a>
        </li>
        <li class="products__card">
          <img src="../../../../assets/images/products/diversos-sonic.svg" alt="Boneco do Sonic" class="card__image">
          <h3 class="card__title">Boneco XYZ</h3>
          <p class="card__price">R$ 60,00</p>
          <a href="" class="card__link">Ver produto</a>
        </li>
        <li class="products__card">
          <img src="../../../../assets/images/products/diversos-camiseta.svg" alt="Camiseta Geek" class="card__image">
          <h3 class="card__title">Camiseta XYZ</h3>
          <p class="card__price">R$ 60,00</p>
          <a href="" class="card__link">Ver produto</a>
        </li>
      </ul>
    </div>
  </section>
</main>
