<section class="products">
  <div class="products__header">
    <h3 class="header__title">Todos os produtos</h3>
    <a href="./admin-add-product.html" class="main-button header__link">Adicionar produto</a>
  </div>
  <ul class="products__cards">
    <li class="products__card">
      <div class="card__image">
        <img src="../../../assets/images/products/diversos-sonic.svg" alt="">
        <div class="card__icons">
          <i class="icon-delete card__icon"></i>
          <i class="icon-create card__icon"></i>
        </div>
      </div>
      <h4 class="card__title">Produto XYZ</h4>
      <p class="card__price">R$ 60,00</p>
      <p class="card__description">#111111</p>
    </li>
    <li class="products__card">
      <div class="card__image">
        <img src="../../../assets/images/products/diversos-sonic.svg" alt="">
        <div class="card__icons">
          <i class="icon-delete card__icon"></i>
          <i class="icon-create card__icon"></i>
        </div>
      </div>
      <h4 class="card__title">Produto XYZ</h4>
      <p class="card__price">R$ 60,00</p>
      <p class="card__description">#111111</p>
    </li>
    <li class="products__card">
      <div class="card__image">
        <img src="../../../assets/images/products/diversos-sonic.svg" alt="">
        <div class="card__icons">
          <i class="icon-delete card__icon"></i>
          <i class="icon-create card__icon"></i>
        </div>
      </div>
      <h4 class="card__title">Produto XYZ</h4>
      <p class="card__price">R$ 60,00</p>
      <p class="card__description">#111111</p>
    </li>
    <li class="products__card">
      <div class="card__image">
        <img src="../../../assets/images/products/diversos-sonic.svg" alt="">
        <div class="card__icons">
          <i class="icon-delete card__icon"></i>
          <i class="icon-create card__icon"></i>
        </div>
      </div>
      <h4 class="card__title">Produto XYZ</h4>
      <p class="card__price">R$ 60,00</p>
      <p class="card__description">#111111</p>
    </li>
    <li class="products__card">
      <div class="card__image">
        <img src="../../../assets/images/products/diversos-sonic.svg" alt="">
        <div class="card__icons">
          <i class="icon-delete card__icon"></i>
          <i class="icon-create card__icon"></i>
        </div>
      </div>
      <h4 class="card__title">Produto XYZ</h4>
      <p class="card__price">R$ 60,00</p>
      <p class="card__description">#111111</p>
    </li>
    <li class="products__card">
      <div class="card__image">
        <img src="../../../assets/images/products/diversos-sonic.svg" alt="">
        <div class="card__icons">
          <i class="icon-delete card__icon"></i>
          <i class="icon-create card__icon"></i>
        </div>
      </div>
      <h4 class="card__title">Produto XYZ</h4>
      <p class="card__price">R$ 60,00</p>
      <p class="card__description">#111111</p>
    </li>
    <li class="products__card">
      <div class="card__image">
        <img src="../../../assets/images/products/diversos-sonic.svg" alt="">
        <div class="card__icons">
          <i class="icon-delete card__icon"></i>
          <i class="icon-create card__icon"></i>
        </div>
      </div>
      <h4 class="card__title">Produto XYZ</h4>
      <p class="card__price">R$ 60,00</p>
      <p class="card__description">#111111</p>
    </li>
    <li class="products__card">
      <div class="card__image">
        <img src="../../../assets/images/products/diversos-sonic.svg" alt="">
        <div class="card__icons">
          <i class="icon-delete card__icon"></i>
          <i class="icon-create card__icon"></i>
        </div>
      </div>
      <h4 class="card__title">Produto XYZ</h4>
      <p class="card__price">R$ 60,00</p>
      <p class="card__description">#111111</p>
    </li>
  </ul>
</section>
