<main>
  <form action="" class="login">
    <fieldset class="login__container">
      <legend class="login__title">Iniciar Sessão</legend>
      <label for="email" class="sr-only">Escreva seu email</label>
      <input type="email" id="email" class="login__email main-input" placeholder="Escreva seu email" required>
      <label for="password" class="sr-only">Escreva sua senha</label>
      <input type="password" id="password" class="login__password main-input" placeholder="Escreva sua senha" required>
      <button class="login__button main-button" data-button submit>Entrar</button>
    </fieldset>
  </form>
</main>
