<main>
  <form action="" class="add-product container">
    <fieldset>
      <legend class="add-product__title">Adicionar novo produto</legend>
      <div class="add-product__add-image">
        <div class="add-image__drop">
          <i class="icon-insert_photo add-image__icon"></i>
          <p class="image-drop__text">Arraste para adicionar uma imagem para o produto</p>
        </div>
        <span>Ou</span>
        <div class="add-image__add-file">
          <label for="" class="add-image__button">
            <i class="icon-add add-image__icon"></i>
            Adicionar uma imagem para o produto
          </label>
        </div>
      </div>
    </fieldset>
  </form>
</main>
