@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

// Fonts
$font-family: 'Raleway', sans-serif;



// Colors
$text-color: #464646;
$gray-100: #F5F5F5;
$gray-200: #A2A2A2;
$blue-200: #D4E4FA;
$blue-400: #2A7AE4;



